# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Zongyue\OneDrive\Documents\CMU\21Spring\11785\HW\HW2\HW2P1Bonus\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
